Source: yndx-1c-aux
Section: database
Priority: optional
Maintainer: Andrey Borodin <x4mmm@yandex-team.ru>
Build-Depends:
 debhelper (>= 9),
 postgresql-server-dev-11 (>= 195~),
 git
Standards-Version: 4.1.1
Homepage: https://github.yandex-team.ru/mdb/yndx_1c_aux

Package: postgresql-11-yndx-1c-aux
Architecture: any
Depends: postgresql-11, ${misc:Depends}, ${shlibs:Depends}
Description: Auxilary functions to run 1C ERP system on Yandex.Cloud MDB clusters.

